/*
 *	Soyma Stas
 *	
 *	Description: this si web portfolio;
 *	Author: DRM;
 */
@font-face {
	font-family: 'Open Sans'; 
	src: url(../font/opensanslight.ttf); 
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans'; 
	src: url(../font/opensanssemibold.ttf); 
	font-weight: 600;
}

html, body{
	font-family: 'Open Sans' !important;
	margin: 0;
	overflow: hidden;
}
header{
	position: absolute;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	margin-left: 50px;
}
.social{
	display: flex;
	margin-right: 50px;
}
.social .sSoc{
	margin: 0 18px;
}
.preloader{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #fff;
    z-index: 10;
}
.preloader .text{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 72px;
	color: #D8D8D8;
}
.nav{
	position: absolute;
	right: 40px;
    bottom: 28px;
}
.nav ul{
	display: flex;
    padding: 0;
}
.nav li{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	color: #C4C4C4;
	padding: 8px 12px; 
	margin: 0 18px;
    list-style-type: none;
    cursor: pointer;
}
.nav li.active{
	color: #1E1E1E;
    text-decoration: underline;	
}
.aboutTitle{
	font-weight: 600;
	font-size: 72px;
	line-height: 69px;
	color: #1E1E1E;
  	animation: reveal 2s forwards; 
}
.aboutTitle:after{
	content: '';
	position: absolute;
	border: 2px solid #C4C4C4;
	width: 215px;
	bottom: 6px;
    margin-left: 30px;
}
.abouText{
	margin-top: 55px;
}
.abouText p{
    width: 380px;
}
@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.abouText a{
	font-size: 18px;
	color: #1A1A1A;
	text-decoration: none;
}
.abouText a:hover{
	color: #525252;
}
.singleContact{
	margin-bottom: 6px;
}
.d-none{
	display: none !important;
}
.sectionBlock{
	display: none;
}
.sectionBlock.active{
	display: flex;
    height: 100vh;
    align-items: center;
}
.visiVis{
	display: block !important;
}
.logo{
	cursor: pointer;
}

.owl-carousel{
    transform: rotate(90deg);
}
.owl-carousel .group{
    transform: rotate(-90deg);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.owl-carousel .title{
	font-weight: 600;
	line-height: normal;
	font-size: 72px;
	color: #1E1E1E;
    padding-left: 30px;
}
.owl-carousel .title span{
	font-weight: 300;
}
.owl-carousel .description{
	margin-top: 30px;
    width: 500px;
    line-height: normal;
    font-size: 18px;
    color: #1A1A1A;
}
.owl-dots{
    position: absolute;
    bottom: 0;
    left: 35%;
}
.owl-dot{
    width: 20px;
    height: 18px;
    background-color: #000;
    margin-right: 30px;

}
.owl-dot:nth-child(1):after{
	content: 'T';
}
.owl-dot:nth-child(2):after{
	content: 'A';
}
.owl-dot:nth-child(3):after{
	content: 'S';
}
.owl-dot.active:nth-child(3):after{
	left: 60px !important;
}
.owl-dot:after{
	position: absolute;
	top: -2px;
    margin-left: -7px;
    width: 14px;
    height: 22px;
	transform: rotate(-90deg);
    transition: 0.4s;
    font-size: 18px;
    color: #1E1E1E;
}
.owl-dot.active{
    width: 260px;
}
.owl-dot.active:after{
    font-size: 250px;
    width: 230px;
    height: 300px;
    left: 30px;
    top: -142px;
}
.arrowRight{
	position: absolute;
}


@media screen and (max-width: 1100px){
	.social{
	    flex-direction: column;
	    margin-top: 140px;
	    margin-right: 4px;
	}
	.social .sSoc {
	    margin: 12px 18px;
	}
	.blockTitle, .aboutImg{
		display: none;
	}
	.logo {
	    margin-left: 16px;
	    margin-top: 10px;
	}
	.preloader .text{
	    font-size: 30px;
	    color: #c1c1c1;
	}

}
