html, body{
	margin: 0;
}
.preloader{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}


.owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}