/*
 *	Soyma Stas
 *	
 *	Description: this si web portfolio;
 *	Author: DRM;
 */
@font-face {
	font-family: 'Open Sans'; 
	src: url(../font/opensanslight.ttf); 
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans'; 
	src: url(../font/opensanssemibold.ttf); 
	font-weight: 600;
}

html, body{
	font-family: 'Open Sans' !important;
	margin: 0;
}
header{
	position: absolute;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	margin-left: 50px;
}
.social{
	display: flex;
	margin-right: 50px;
}
.social .sSoc{
	margin: 0 18px;
}
.preloader{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #fff;
    z-index: 10;
}
.preloader .text{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 72px;
	color: #D8D8D8;
}
.nav{
	position: absolute;
	right: 40px;
    bottom: 16%;
}
.nav ul{
	display: flex;
    padding: 0;
}
.nav li{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	color: #C4C4C4;
	padding: 8px 12px; 
	margin: 0 18px;
    list-style-type: none;
    cursor: pointer;
}
.nav li.active{
	color: #1E1E1E;
    text-decoration: underline;	
}
.temp{
	position: absolute;
	left: 56px;
    bottom: 16%;
	font-weight: 600;
	font-size: 72px;
	color: #1E1E1E;
  	animation: reveal 2s forwards;
  	animation-delay: 3.7s;
}
@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.about{
    position: absolute;
    bottom: 56px;
    left: 56px;
    max-width: 440px;
}
.about p{
	padding-left: 10px;
}
.aboutImg{
	animation: reveal 2s forwards; 
}
.work .owl-carousel{
	position: absolute;
	left: 56px;
    bottom: 24%;  
    width: calc(100% - 56px); 
}
.blockTitle{
	position: absolute;
    bottom: 16%;
    left: 56px;
	font-weight: 600;
	font-size: 72px;
	color: #1E1E1E;
  	animation: reveal 2s forwards; 
}
.owl-stage{
	padding-bottom: 35px;
}
.owl-stage-outer{
	padding: 0 24px;
}
.owl-carousel .item{
    height: 300px;
    border-radius: 10px;
	transition: all 0.4s;
}
.owl-carousel .item:hover{
	box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.4s;
}
.blockContact{
    position: absolute;
    bottom: 40%;
    left: 58px;
    font-size: 24px;
}
.blockContact a{
	color: #000;
	text-decoration: none;
}
.d-none{
	display: none !important;
}
.sectionBlock{
	display: none;
}
.sectionBlock.active{
	display: block;
}
.visiVis{
	display: block !important;
}